*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 100ms ease-in-out;
} 

a{
    text-decoration: none;
    color: inherit;
}

.nav-bar {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem
}

.nav-heading {
    color: darkcyan;
}

.nav-menu {
    list-style: none;
}

.nav-menu-item {
    border: 1px solid white;
    padding: 0.25rem 1rem;
    background-color: whitesmoke;
    color: black;
}
.nav-menu-item:hover {
    color: whitesmoke;
    background-color: black;
    cursor: pointer;
}


body {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.add-button {
    margin-top: 2rem;
    color: whitesmoke;
    border: none;
    font-size: 1rem;
    background-color: darkcyan;
    padding: 1rem 2rem;
    border-radius: 3rem;
}

.task-input {
    width: 90%;
    max-width: 40rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem
}

.task-input-text {
    display: block;
    padding: 0.75rem;
    width: 89%;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: rgb(36, 36, 36);
    color: lightgray;
}

.task-input-button {
    width: 10%;
    outline: none;
    font-size: 1.5rem;
    color: whitesmoke;
    background-color: darkcyan;
    border: none;
    border-radius: 2px;
}

.task-input-button:hover {
    background-color: cyan;
    color: black;
}

.list-table {
    color: whitesmoke;
    border-spacing: 0 5px;
    width: 90%;
    max-width: 40rem;
}

.list-row {
    background-color: rgb(28, 28, 28);
}

.list-row td {
    padding: 1rem;
}

.delete-button {
    background-color: whitesmoke;
    padding: .25rem;
    width: 1.5rem;
    border-radius: 50%;
}
.delete-button:hover{
    background-color: lightcoral;
}

.list-row-checkbox {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
    background-color: gray;
    color: gray;
    border-radius: 50%;
}

.list-row-checkbox:hover {
    background-color: lightgray;
}

.remove-completed-tasks {
    padding: 0.25rem 1rem;
    outline: none;
    border: none;
    background-color: lightcoral;
    border-radius: 1rem;
    opacity: 80%;
}

.remove-completed-tasks:hover {
    opacity: 100%;
}

.del-done-tasks {
    padding: 0.25rem 1rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    /* opacity: 50%; */
    background-color: darkcyan;
}

.del-done-tasks:hover {
    background-color: cyan;
}